header h1 {
  font-size: 36px;
  font-weight: bold;
  color: rgb(49, 35, 243);
  margin: 0;
  padding: 20px 0;
}

h2 {
  color: rgb(83, 83, 227);
  font-style: italic;
}

#navbar {
  background-color: rgb(0, 26, 255);
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#navbar li a:hover {
  background-color: #111;
}


  
  nav ul li {
    display: inline-block; /* Display the list items as inline-block elements */
    margin-left: 100px; /* Add some space between the items */
  }

  header {
    text-align: center;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .slideshow-container {
    height: 600px;
    width: 100%;
  }
  
  .feature-slide {
    display: none;
    transition: all 0.5s ease-in-out;
    height: 500px; /* adjust the height as needed */
    width: 100%; /* adjust the width as needed */
    background-size: cover;
    background-position: center;
    border: 1px solid black; /* optional border */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* optional box shadow */
  }

  /* Add a background image to each slide */
.feature-slide:nth-child(3) {
  background-image: url('rainyy.jpg');
}
.feature-slide:nth-child(2) {
  background-color: #333;
  background-image: url('icons.jpg');
  
}

.slide-1 .slide-text {
  color: rgb(47, 32, 218);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: italic;
}

.slide-2 .slide-text {
  color: rgb(246, 245, 253);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: italic;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login-form label {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

#login-form input {
  width: 200px;
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}

#login-form button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #e50914;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.login-container, main {
  display: none;
}

.signup-container, main {
  display: none;
}

#error-message {
  font-size: 16px;
  color: red;
  margin-top: 10px;
}

#weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#weather-icon {
  width: 100px;
  height: 100px;
}

#location {
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}

.desc {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}

.weather {
  display: flex;
  align-items: center;
}

#temperature {
  font-size: 48px;
  color: #fff;
  margin-right: 10px;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e50914;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#weather {
  font-size: 18px;
  color: #fff;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-top: 20px;
}

.info h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 0;
}

.info .sunrise,
.info .sunset {
  font-weight: 700;
  color: #e50914;
}

#weather-search-form {
  margin-top: 20px;
}

#weather-search-form label {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

#weather-search-form input {
  width: 200px;
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(16, 10, 10);
  font-size: 16px;
  margin-bottom: 20px;
}

#weather-search-form button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #e50914;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

form#comment-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

/* Style the label and textarea */
form#comment-form label,
form#comment-form textarea {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 1.2em;
  font-family: Arial, sans-serif;
}

/* Style the textarea */
form#comment-form textarea {
  height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  resize: vertical;
}

/* Style the button */
form#comment-form button {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.signup-container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

/* Style the labels and inputs */
.signup-container label,
.signup-container input {
  display: block;
  width: 80%;
  margin: 20px auto;
  font-size: 1.2em;
  font-family: Arial, sans-serif;
}

/* Style the inputs */
.signup-container input {
  height: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Style the button */
.signup-container button {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

p {
  text-align: left;
  font-weight: 100px;
}
