header h1 {
  font-size: 36px;
  font-weight: bold;
  color: rgb(49, 35, 243);
  margin: 0;
  padding: 20px 0;
}

#navbar {
  background-color: rgb(0, 26, 255);
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#navbar li a:hover {
  background-color: #111;
}


  
  nav ul li {
    display: inline-block; /* Display the list items as inline-block elements */
    margin-left: 100px; /* Add some space between the items */
  }

  header {
    text-align: center;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
  }

  .slideshow-container {
    height: 600px;
    width: 100%;
  }
  
  .feature-slide {
    display: none;
    transition: all 0.5s ease-in-out;
    height: 500px; /* adjust the height as needed */
    width: 100%; /* adjust the width as needed */
    background-size: cover;
    background-position: center;
    border: 1px solid black; /* optional border */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* optional box shadow */
  }

  /* Add a background image to each slide */
.feature-slide:nth-child(3) {
  background-image: url('icons2.jpg');
}
.feature-slide:nth-child(2) {
  background-image: url('icons.jpg');
}